{% extends 'base_login.html' %}

{% block title %}
Faça seu Login
{% endblock title %}

{% block content %}
<div class="container">
    <h2>Faça seu Login</h2>
    {% if form.errors %}
    {{ form.errors }}
    <li id='erro'>Usuário ou Senha inválidos</li>
    {% endif %}
<form method="post">
    <div class="container3">
        {% csrf_token %}
        <div class = 'login-box1'>
            <p>Usuário</p>
        </div>
        <div class="login-box1">
            {{form.username}}
        </div>
        <br>
        <div class = 'login-box1'>
            <p>Senha</p>
        </div>
        <div class="login-box1">
            {{form.password}}
        </div>
        <div class="login-box1">
         <button id = 'login' type="submit">Login</button>   
        </div>
        
    </div>
</form>
</div>
{% endblock content %}