{% extends 'base_singup.html' %}

{% block title %}
Cadastre sua empresa
{% endblock title %}

{% block content %}
<div class="container">
<h2>Bem-Vindo ao Dise</h2>
<p> Preencha o formulário para se cadastrar</p>
{% for field in form %}
    {% if field.errors  and field != form.tags %}
        <li id="erro">{{ field.errors|striptags }}</li>
    {% endif %}
{% endfor %}
<form method="post">
    <div class="container2">
        {% csrf_token %}
        <div class="box6">
            <p>Usuário</p>
            {{ form.username}}
        </div>
        <div class="box1">
            <div><p>Senha</p>
            {{form.password1}}</div>
            <div><p>Repita a Senha</p>
            {{form.password2}}</div>
            
        </div>
        <div class="box2">
            <div>
                <p>Razão Social</p>
                {{form.razao_social}}    
            </div>
            <div>
                <p>Nome Fantasia</p>
                {{form.nome_fantasia}}
            </div>
        </div>
        <div></div>
        <div class="box3">
            <p>CNPJ</p>
            {{form.cnpj}}
            <p>Endereço</p>
            {{form.endereco}}
            <p>Telefone</p>
            {{form.tel}}
        </div>
        <div class="box4">
            <p>Email</p>
            {{form.email}}
            <p>URL da sua Foto</p>
            {{form.image}}
        </div>
        
        <div class = 'box5'>
            <p>Selecione os Dias de Trabalho</p>
            <table>
                <tbody>
                    <tr>
                        <td>{{form.dom}} Dom</td>
                        <td>{{form.ter}} Ter</td>
                        <td>{{form.qui}} Qui</td>
                        <td>{{form.sab}} Sab</td>
                    </tr>
                    <tr>
                        <td>{{form.seg}} Seg</td>
                        <td>{{form.qua}} Qua</td>
                        <td>{{form.sex}} Sex</td>
                        <td></td>
                    </tr>
                </tbody>
                </table>
        </div>
        <div></div>
        <div>
            <p>Horário de Inicio</p>
            {{form.horario_inicio}}
        </div>
        <div>
            <p>Horario de Fim</p>
            {{form.horario_fim}}
        </div>
        <div>
            <p>Escolha suas áreas de atuação</p>
            {{form.tags}}
            {% if form.tags.errors %}
            <li id="erro">{{ form.tags.errors|striptags }}</li>
            {% endif %}
            
        </div>
        <div></div>
        <div><p>Adicione uma breve Descrição</p>
        {{form.desc}}</div>
        <br>
        <button id = 'login' type="submit">Criar</button>
    </div>
</form>
</div>
{% endblock content %} 