{% extends 'base_singup.html' %}

{% block title %}
Criar Usuário
{% endblock title %}

{% block content %}
<div class="container">
<h2>Bem-Vindo ao Dise</h2>
<p> Preencha o formulário para se cadastrar</p>
{% for field in form %}
    {% if field.errors %}
        <li id="erro">{{ field.errors|striptags }}</li>
    {% endif %}
{% endfor %}
<form method="post">
    <div class="container2">
        {% csrf_token %}
        <div class="box6">
            <p>Usuário</p>
            {{ form.username}}
        </div>
        <div class="box1">
            <div><p>Senha</p>
            {{form.password1}}</div>
            <div><p>Repita a Senha</p>
            {{form.password2}}</div>
        </div>
        <div class="box2">
            <div>
                <p>Nome</p>
                {{form.nome}}
            </div>
            <div>
                <p>Sobrenome</p>
                {{form.sobrenome}}
            </div>    
        </div>
        <div></div>
        <div class="box3">
            <div>
            <p>CPF</p>
            {{form.cpf}}
            </div>
            <div>
                <p>Data de Nascimento</p>
                {{form.nascimento}}
            </div>
            <div>
                <p>Telefone</p>
                {{form.tel}}
            </div>
        </div>
        <div class="box4">
            <div>
                <p>Email</p>
                {{form.email}}
            </div>
            <div>
                <p>URL da sua Foto</p>
                {{form.image}}
            </div>
        </div>
        <br>
        <button id = 'login' type="submit">Criar</button>
    </div>
</form>
</div>
{% endblock content %} 