{% extends 'base.html' %}

{% block title %}
{% if perfil.is_empresa %}
Agendamento: {{ perfil.empresa.razao_social }} 
{% else %}
Agendamento: {{ perfil.cliente.nome }}
{% endif %}
{% endblock %}

{% block content %}
{% if servicos %}
{% if perfil.is_cliente %}
<h3 style="font-family:'Inter'">Você tem {{ servicos.count }} agendamentos aguardando confirmação </h3>
<section class="servicos-list">
    <hr>
    <script>
        function expandir(servico_id) {
    var moreServ = document.getElementById('mais'+servico_id);
    var textobotao = document.getElementById('expandBtn'+servico_id);
    if (moreServ.style.display === 'inline'){
        textobotao.innerHTML = 'Expandir';
        
        moreServ.style.display = 'none';
    } else {
        textobotao.innerHTML = 'Reduzir';
        moreServ.style.display = 'inline';
    }
}
    </script>
{% for servico in servicos %}
<article id="servico">
    <div id="servico-empresa">
    <h4>{{ servico.empresa.nome_fantasia }}</h4>    
    </div>
    <div id="servico-horas">    
        <p>Serviço agendado para: {{ servico.data_agendada }} às {{ servico.hora_agendada }}</p>
        <p>Local Agendado: {{ servico.endereco_agendado }}</p>
    </div>
    <span id = 'mais{{ servico.id }}' style="display:none">
        <p>Descrição:</p> <textarea rows="7" cols="40" readonly style="resize:none;border-radius: 10px;margin-left: 2%;">{{ servico.desc }}</textarea>
        
    </span>
    <button onClick="expandir({{ servico.id }})" id='expandBtn{{servico.id}}' style='float:right;border-radius: 10px;margin-left: 2%;'>Expandir</button>
</article>
<hr>
{% endfor %}
</section>
{% else %}
<h3 style="font-family:'Inter'">Você tem {{ servicos.count }} agendamentos aguardando sua confirmação </h3>
<section class="servicos-list">
    <hr>
{% for servico in servicos %}
<article class="servico">
    <p>Cliente: <a href ="{% url 'perfil' servico.cliente.user.id %}">{{ servico.cliente.nome }} {{ servico.cliente.sobrenome }}</a></p>
    <p>Hora Agendada: {{ servico.hora_agendada }}</p>
    <p>Local Agendado: {{ servico.endereco_agendado }}</p>
    <p> Descrição: {{ servico.desc }}</p>
    <p>Data Agendada: {{ servico.data_agendada }}</p>
</article>
<hr>
{% endfor %}
</section>
{% endif %}
{% endif %}
{% endblock %}