{% extends 'base.html' %}

{% block title %}
Página Principal
{% endblock title %}

{% block content %}
<form action="{% url 'index' %}">
    <div id = 'pesquisa'>
        <p>
            <label for="id_query"></label>
            <input type="text" name='query' id = 'id_query' placeholder='Pesquise o nome'/>
        </p>
        <button type="submit">Buscar</button>
    </div>
</form>
<div id='lista-tags'><p>Aqui entrerá as TAGS</p></div>
<h2 class = 'subtitle'>Os mais bem avalidados</h2>
<hr>
{% if empresa_list %}
<section class = 'lista-empresa'>
    {% for empresa in empresa_list %}
    <article class = 'empresa'>
        <a href="{% url 'agendar' empresa.user.id %}" class ='foto-empresa'>
            <img src="{{ empresa.image }}" alt="{{ empresa.nome_fantasia }}">
        </a>
        <div>
        <a class = 'nome-empresa' href="{% url 'agendar' empresa.user.id %}">{{ empresa.nome_fantasia }}</a>
        <p>Avaliação</p>
        </div>
        <div style="margin-left:auto;margin-right: 10%;">
            <a>Tags</a>
            <p>#Tags</p>
        </div>
    </article>
    <hr>
    {% endfor %}
</section>
{% endif %}
{% endblock content%}