{% extends 'base_login.html' %}

{% block title %}
Orçamento para {{ servico.cliente.nome }}
{% endblock %}

{% block content %}
<div class="container">
    <h2> Faça seu orçamento</h2>
    {% if form.errors %}
    {{ form.errors }}
    {% endif %}
    <form method="post">
        <div class="container3">
            {% csrf_token %}
            <h3>Para {{servico.cliente.nome}} {{servico.cliente.sobrenome}}</h3>
        </div>
        <div>
            Data: {{servico.data_agendada}} às {{servico.hora_agendada}}
            <br>
            Endereço: {{servico.endereco_agendado}}
        </div>
        <div>
            <p>Descrição:</p> <textarea rows="7" cols="40" readonly style="resize:none;border-radius: 10px;margin-left: 2%;">{{ servico.desc }}</textarea>
        </div>
        <div>
            <p>Orçamento</p>
            {{ form.valor_pagar }}
        </div>
        <button type="submit" id="login">Enviar</button>
    </form>
</div>
{% endblock %}