{% extends 'base_login.html' %}

{% block title %}
Pagamento para {{ pagamento.empresa.nome }}
{% endblock %}

{% block content %}
<div class="container">
    <h2> Pague</h2>
    {% for field in form %}
    {% if field.errors %}
        <li id="erro">{{ field.errors|striptags }}</li>
    {% endif %}
{% endfor %}
    <form method="post">
        <div class="container3">
            {% csrf_token %}
            <h3>Para {{pagamento.servico.empresa.nome_fantasia}}</h3>
        </div>
        <div>
            Data: {{pagamento.servico.data_agendada}} às {{pagamento.servico.hora_agendada}}
            <br>
            Endereço: {{pagamento.servico.endereco_agendado}}
        </div>
        <div>
            <p>Descrição:</p> <textarea rows="7" cols="40" readonly style="resize:none;border-radius: 10px;margin-left: 2%;">{{ pagamento.servico.desc }}</textarea>
        </div>
        <div>
            Valor: 
            {{ pagamento.valor_pagar }}
        </div>
        <div> Número do Cartão:<br>
            {{ form.num_cartao }}
        </div>
        <div>
            <p>CVV: <br>{{ form.cvv }}</p>
            <p> Data de Validade:</p>
            <label for="mes"> Selecione o Mês</label>
            <select name="mes" id = 'mes'>
                <option value ="1"> 1</option>
                <option value ="2"> 2</option>
                <option value ="3"> 3</option>
                <option value ="4"> 4</option>
                <option value ="5"> 5</option>
                <option value ="6"> 6</option>
                <option value ="7"> 7</option>
                <option value ="8"> 8</option>
                <option value ="9"> 9</option>
                <option value ="10"> 10</option>
                <option value ="11"> 11</option>
                <option value ="12"> 12</option>
            </select>
            <label for='ano'> Selecione o Ano</label>
            <select name="ano" id = 'ano'>
                <option value ="2023"> 2023</option>
                <option value ="2024"> 2024</option>
                <option value ="2025"> 2025</option>
                <option value ="2026"> 2026</option>
                <option value ="2027"> 2027</option>
                <option value ="2028"> 2028</option>
                <option value ="2029"> 2029</option>
                <option value ="2030"> 2030</option>
                <option value ="2031"> 2031</option>
                <option value ="2032"> 2032</option>
                <option value ="2033"> 2033</option>
                <option value ="2034"> 2034</option>
                <option value ="2035"> 2035</option>
                <option value ="2036"> 2036</option>
                <option value ="2037"> 2037</option>
                <option value ="2038"> 2038</option>
                <option value ="2039"> 2039</option>
                <option value ="2040"> 2040</option>
            </select>
        </div>
        <div><p>Titular</p>
            {{ form.titular }}
        </div>
        <button type="submit" id="login">Pagar</button>
    </form>
</div>
{% endblock %}