{% extends 'base.html' %}

{% block title %}
{% if user.is_empresa %}
Perfil: {{ user.empresa.razao_social }} 
{% else %}
Perfil: {{ user.cliente.nome }}
{% endif %}
{% endblock title %}

{% block content %}
<div id = 'perfil-principal'>
    {% if user.is_empresa %}
    <div></div>
    <img class ='imagem-perfil' src="{{ user.empresa.image }}"/>
    <h2>{{ user.empresa.nome_fantasia }}</h2>
    {% else %}
    <img src="{{ user.cliente.image }}"/>
    <h2>{{ user.cliente.nome }}</h2>
    {% endif %}
    
</div>
{% endblock content %}