{% extends 'base.html' %}

{% block title %}
{% if perfil.is_empresa %}
Perfil: {{ perfil.empresa.razao_social }} 
{% else %}
Perfil: {{ perfil.cliente.nome }}
{% endif %}
{% endblock title %}

{% block content %}
<div id = 'perfil-principal'>
    {% if perfil.is_empresa %}
    <img class ='imagem-perfil' src="{{ perfil.empresa.image }}"/>
    <h2 style="font-family: 'Inder'">{{ perfil.empresa.nome_fantasia }}</h2>
    {% else %}
    <img class ='imagem-perfil' src="{{ perfil.cliente.image }}"/>
    <h2 style="font-family: 'Inder'">{{ perfil.cliente.nome }} {{ perfil.cliente.sobrenome }}</h2>
    {% endif %}
</div>
{% if perfil.is_empresa %}
<div id = 'descricao'>
{% if user.id == perfil.id %}
<h3 class = 'subtitle'>Sua descrição</h3>
{% else %}
<h3 class = 'subtitle'>Descrição</h3>
{% endif %}
<textarea readonly rows="7" cols="40">
    {{ perfil.empresa.desc }}
</textarea>
</div>
{% endif %}
<div id = 'avaliacao'>
{% if user.id == perfil.id %}
<h3 style="font-family: 'Inder'"> Sua Avaliação</h3>
{% else %}
<h3 style="font-family: 'Inder'"> Avaliação</h3>
{% endif %}
<p> Aqui entrará a avaliação</p>
{% if user.id == perfil.id %}
<a href="{% url 'edit' perfil.id %}" class = 'edit' style="float:right; color: #8a8a8a"> Editar Perfil</a>
{% endif %}
<br>
</div>
{% if perfil.is_empresa %}
<hr>
<div id="comentario">
<h3 style="font-family: 'Inder'"> Comentário</h3>
<p>Aqui entrará os comentários</p>
</div>
{% endif %}
{% endblock content %}