{% extends 'base.html' %}

{% block title %}
Pesquisar: {{ tag.name }}
{% endblock title %}

{% block content %}
<form action="{% url 'search_tag' tag.name %}">
    <div id = 'pesquisa'>
        <p>
            <label for="id_query"></label>
            <input type="text" name='query' id = 'id_query' placeholder='Pesquise o nome'/>
        </p>
        <button type="submit">Buscar</button>
    </div>
</form>
<div id='lista-tags'>
    {% for tag in tags %}
    <a href="{% url 'search_tag' tag.name %}" id = 'tags'>    
        #{{ tag.name }}
    </a>
    {% endfor %}
</div>
<h2 class = 'subtitle'>Aqui está o resultado da busca para {{ tag.name }}</h2>
<hr>
{% if empresa_list %}
<section class = 'lista-empresa'>
    {% for empresa in empresa_list %}
    <article class = 'empresa'>
        <a href="{% url 'agendar' empresa.user.id %}" class ='foto-empresa'>
            <img src="{{ empresa.image }}" alt="{{ empresa.nome_fantasia }}">
        </a>
        <div>
        <a class = 'nome-empresa' href="{% url 'agendar' empresa.user.id %}">{{ empresa.nome_fantasia }}</a>
        <p>Avaliação</p>
        </div>
        <div style="margin-left:auto;margin-right: 10%;">
            <p style="display:flex;align-items:center;justify-content: center;">Tags</p>
            {% for tag in empresa.tags.all %}
            <a href="{% url 'search_tag' tag.name %}" id = 'tags'>    
                #{{ tag.name }}
            </a>
            {% endfor %}
        </div>
    </article>
    <hr>
    {% endfor %}
</section>
{% endif %}
{% endblock content%}