 body{
    margin: 0px;
    background-color: #fff;
 }

 header#header-principal{
 }

 nav#nav-principal li{
    display: inline-block;
    padding-left: 10px;
    width: 150px;
    height: 35px;
    
 }
 #login{
    border-radius: 13px;
    width: 150px;
    height: 35px;
    background-color: #FDAD00; 
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'Inter';
    color: white;
    text-decoration: none;
 }
 #login:hover{
    background-color: #eba205;
    text-decoration: underline;
 }

 #cadastro{
    border-radius: 20px;
    width: 150px;
    height: 32px;
    justify-content: center;
    display: flex;
    align-items: center;
    color:#1D41FF;
    text-decoration: none;
    font-family: 'Inter';
 }
 #cadastro:hover{
    text-decoration: underline;
 }

 footer#footer-principal{
    background-color: #FDAD00;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #lista-tags{
    justify-content: center;
    display: flex;
    align-items: center;
 }

 .subtitle{
    font-family: 'bhavuka';
 }
 #pesquisa{
   display: flex;
    justify-content: center;
    align-items: center;
    
 }
 #pesquisa input{
   border-top-width: 0px;
   border-top-style: solid;
   border-right-width: 0px;
   border-right-style: solid;
   border-left-width: 0px;
   border-left-style: solid;
   width: 240px;
   height: 20px;
 }
 #pesquisa button{
   float: right;
   width: 20px;
   height: 20px;
   margin-top: 2px;
   background-color: #FDAD00;
   border: 1px solid grey;
 }
 #pesquisa button:hover{
   background-color: #FDAD00;
 }