body{
    margin: 0px;
    background-color: #fff;
    font-family: 'Inder', sans-serif;
 }

 header#header-principal{
    height: 75px;
 }

 nav#nav-principal li{
    display: inline-block;
    padding-left: 10px;
    width: 150px;
    height: 35px;
    
 }
 #login{
    border-radius: 13px;
    width: 150px;
    height: 35px;
    background-color: #FDAD00; 
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'Inter';
    color: white;
    text-decoration: none;
 }
 #login:hover{
    background-color: #eba205;
    text-decoration: underline;
 }

 footer#footer-principal{
    background-color: #FDAD00;
    display: flex;
    justify-content: center;
    align-items: center;
 }

#main-principal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border:1px solid black;
    border-radius: 35px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    
}

.container #login{
    border: 0px;
    margin-top: 10px;
}

#erro{
   color:red;
}
.container2{
   display: grid;
   grid-template-columns: 50% 50%;
}

.box1{
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 50% 50%;
}
.box2{
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 50% 50%;
}