{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="https://fonts.cdnfonts.com/css/bhavuka" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/inder" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style_login.css' %}">
    <script src = "{% static 'functions.js' %}" type="text/javascript"></script> 
</head>
<body>
    <header id = "header-principal">
        <a href="{% url 'index' %}">Logo da DISE</a>
        <nav id = "nav-principal">
            <ul>
                <li style="float:right"><a id='login' href="{% url 'login_dise' %}">Login</a></li>
            </ul>
        </nav>
    </header>
    <hr>
    <main id ='main-principal'>
        {% block content %}
        {% endblock content %}
    </main>
    <footer id = "footer-principal">
        <small>Copyright 2022</small>
    </footer>
</body>
</html>